* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #2d2b2b;
  background-image: url("/src/assets/poster.jpg");
  /* background-image: url('https://r4.wallpaperflare.com/wallpaper/126/526/555/digital-digital-art-artwork-ninja-sword-hd-wallpaper-cb360c7d23418f59a5f41bd9dd4cccd0.jpg'); */

  background-size: cover;
  /* align-items: end; */
}

main {
  width: 100%;
  overflow: scroll;

  background-color: transparent;

  height: 80%;
  /* border: 2px solid red; */
}



header,
footer {
  background-color: transparent;
  backdrop-filter: blur(50px);
  width: 100%;
  height: 10%;
  position: absolute;
  padding: 0 10px;
  /* background-color: #585858; */
}

header {
  top: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-items: center; */
}

header .searchbar {
  display: flex;
  justify-content: end;
  /* padding:10px; */
}

header .searchbar input[type="text"] {
  /* background-color:black; */

  width: 100px;
  height: 30px;

  padding: 0 10px;
  font-size: 18px;
  color: white;
  background-color: black;
  outline: none;
  border: none;
  transition: 0.5s;

  &:hover {
    width: 200px;
  }

  &:focus {
    width: 200px;
  }
}

header .searchbar input[type="submit"] {
  background-color: red;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0 10px;
  font-size: 17px;
  width: fit-content;

  /* width:100px; */
}

.phonenav {
  display: none;
}

#headerlogoimg {
  animation: logorotation 3s 1 ease-in-out;
}

@keyframes logorotation {
  from {
    scale: 0.75;
  }
  to {
    rotate: -360deg;
  }
}

footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

#top {
  width: 100%;
}

.homepage {
  width: 100%;
  height: 100%;

  /* filter: blur(2px); */
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  /* width:20%; */
  height: 100%;
  gap: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 5px #000000;
}

.logo img {
  width: 40px;
}

.homepage-content {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.425), rgb(0, 0, 0));
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}

.homepage-content p {
  color: rgb(211, 211, 211);
}

.homepage-searchbar {
  /* border: 2px solid red; */
  width: 500px;
  display: flex;
}

.homepage-searchbar input[type="text"] {
  width: 80%;
  text-align: center;
  height: 40px;
  font-size: 20px;
  position: relative;
  border-radius: 10px;
  outline: none;
  border: none;
}

.homepage-searchbar input[type="submit"] {
  width: 20%;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  /* margin-left: -10px; */
  background-color: rgb(238, 11, 11);
  color: white;
  border: none;
  margin-left: 5px;
  z-index: 10;

  &:hover {
    background-color: brown;
  }
}

/* -----------------movieresults-------------------- */

.movie-results {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 28);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;

  /* gap: 10px; */
  align-items: center;
}

.movie-results .searchresultcount {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #272727;
}

.movieCard {
  width: 250px;
  text-align: center;
  min-height: 400px;
  background-color: rgb(20, 20, 20);
  margin: 10px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    .movieimage img {
      transform: scale(1.1);
    }

    h1,
    p {
      opacity: 0.7;
    }
  }
}

.movieCard .movieimage {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.movieCard .movieimage img {
  width: 100%;
  transition: 0.5s all;

  height: 100%;
}

.movieCard h1 {
  font-size: 18px;
  font-family: roboto;
  /* letter-spacing:; */
  word-wrap: none;
  opacity: .9;
  padding: 0 5px;
}


.cardcontent {
  height: 100px;
  padding: 5px;
  position: relative;
  text-align: center;
}

.cardcontent p {
  /* position: absolute; */
  bottom: 0;
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.pagesnavigation {
  width: 100%;
  height: 50px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.pagesnavigation button {
  height: 70%;
  width: fit-content;
  font-size: 17px;
  border: none;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 10px;
  transition: 0.3s all;

  &:hover {
    background-color: #bebebe;
    /* color: white; */
  }
}

.pagesnavigation button:disabled {
  background-color: #2d2b2b;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.pagesnavigation button:disabled:hover {
  background-color: #2d2b2b;
}

.moviepage {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  min-height: 100%;
  overflow: scroll;
  gap: 10px;
  /* overflow-x: hidden; */
  background-size: cover;
  backdrop-filter: blur(50px);
  background-repeat: no-repeat;
  height: fit-content;
  background-color: #00000089;
  /* border: 2px solid red; */
  /* overflow:scroll; */
  padding: 10px 0px;
  /* color: red; */
}

.moviepage img {
  width: 300px;
  height: 90%;
}

.moviedetails {
  width: 50%;
  /* border: 2px solid red; */
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  border-radius: 10px;
  height: 66vh;

  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  /* height: 70vh; */
  background-color: #151414;
  /* background-color: black; */
}
/* .moviedetails::-webkit-scrollbar{
    display: block;
} */

.moviedetails h1 {
  color: #e3e3e3; 
}

.moviedetails p {
  /* font-size: large; */
  font-size: 17px;
  color: #bcbcbc;
  /* width: 100%; */
}

#plot {
  height: 100px;
  overflow: scroll;
}

.totalSeasons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.seasons {
  display: flex;
  flex: 1;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 5px;
  justify-content: center;
}

.season button {
  padding: 5px 10px;
  background-color: red;
  border: none;
  color: white;
  transition: 0.3s;
  font-size: 20px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: transparent;
  }
}

.seriespage {
  /* border: 2px solid rebeccapurple; */
  height: fit-content;
  padding: 5px 10px;
  text-align: center;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.5s;
  flex-direction: column;
}

.episode {
  background-color: transparent;
  /* border: 2px solid red; */
  font-size: 17px;
  padding: 10px;
  margin-bottom: 2px;
  width: 100%;
  /* width: 100vw; */
  background-color: #3c3e3d85;
}

.episode-card {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(32, 29, 29, 0.717);
  flex-direction: column;
  padding: 10px 10px;
  border-radius: 10px;
  gap: 10px;
}

.episode-card img {
  width: 100%;
  border-radius: 10px;
}

.episode-card h1,
p {
  color: #aeabab;
}

.episode-detail {
  width: 100%;
  text-align: start;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header i {
  display: none;
  font-size: 25px;
  transition: 0.5s;
  font-weight: bold;
}

/* 
.seriespage h1{
    width: 100%;
    text-align: center;
} */

/* HTML: <div class="loader"></div> */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.page404 {
  text-align: center;
  height: fit-content;
}

.page404 h1 {
  font-size: 80px;
  font-weight: bold;
}

.page404 p {
  font-size: 40px;
  font-weight: bold;
}

.page404 a {
  font-size: 17px;
  font-weight: bold;
  margin-top: 200px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  background-color: red;
  border-radius: 10px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ff1616 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ff1616);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes l24 {
  100% {
    background-position: left;
  }
}

@media (max-width: 660px) {
  .moviedetails {
    width: 100%;
    padding: 5px;
    border-radius: 0;
    overflow: visible;
    height: fit-content;
    /* padding: 0 10px; */
    /* text-align: center; */
    /* margin-left: 10%; */
  }
  .moviedetails h1 {
    width: 100%;
    text-align: center;

    font-size: 23px;
  }

  .moviedetails p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
  header i {
    display: block;
  }

  header .searchbar {
    display: none;
  }

  .phonenav {
    /* display: block; */
    position: absolute;
    top: 10%;
    right: 0;
    background-color: transparent;
    backdrop-filter: blur(30px);
    z-index: 999;
    width: 100%;
    flex-direction: column;
    height: 80%;
    display: flex;
    align-items: center;
    /* transition: .5s; */
    padding: 20px 0px;
    gap: 20px;
    justify-content: start;

    animation-name: menu;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
  }

  @keyframes menu {
    0% {
      opacity: 0;
    }

    /* to{
            transform: translateX(0%);
        } */
  }

  .phonenav input[type="text"] {
    width: 70%;
    height: 50px;
    /* padding: 10px; */
    font-size: 20px;
    border: none;
    text-align: center;
    /* border-bottom: 2px solid #e3e3e3; */
    outline: none;
    font-size: 20px;
    margin-right: 5px;
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.674);
    backdrop-filter: blur(30px);
    border-radius: 10px;
  }

  .phonenav input[type="submit"] {
    /* width: 20%; */
    height: 45px;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 0 5px;
    border: none;
    font-size: 20px;
  }

  .phonenav .searchbarphone {
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
  }

  .backtohome {
    background-color: #fe3838;
    width: 50%;
    height: 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all;
  }
}

@media (max-width: 500px) {
  .homepage-searchbar {
    width: 95%;
  }

  .homepage-content p {
    width: 95%;
    font-size: 18px;
    text-align: center;
  }

  .movieCard {
    width: 80%;
    /* height: 400px; */

    /* height: 80%; */
  }
}
